!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title hrp/deli-sandwich @ GitHub
    :css
      body {
        margin-top: 1.0em;
          background-color: #F2CDAC;
          font-family: Georgia, Times, serif;
          color: #000000;
      }
      #container {
        margin: 0 auto;
        width: 700px;
      }
      h1 { font-size: 3.8em; color: #B34150; margin-bottom: 3px; }
      h1 .small { font-size: 0.4em; }
      h1 a { text-decoration: none }
      h2 { font-size: 1.5em; color: #B34150; }
      h3 { text-align: center; color: #B34150; }
      a { color: #B34150; }
      .description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
      .download { float: right; }
      pre { background: #000; color: #fff; padding: 15px;}
      hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
      .footer { text-align:center; padding-top:30px; font-style: italic; }
  %body
    %a{:href => "http://github.com/hrp/deli-sandwich"}
      %img{:alt => "Fork me on GitHub", :src => "http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", :style => "position: absolute; top: 0; right: 0; border: 0;"}/
    #container
      .download
        %a{:href => "http://github.com/hrp/deli-sandwich/zipball/master"}
          %img{:border => "0", :src => "http://github.com/images/modules/download/zip.png", :width => "90"}/
        %a{:href => "http://github.com/hrp/deli-sandwich/tarball/master"}
          %img{:border => "0", :src => "http://github.com/images/modules/download/tar.png", :width => "90"}/
      %h1
        %a{:href => "http://github.com/hrp/deli-sandwich"} Deli Sandwich
        %span.small
          by
          %a{:href => "http://github.com/hrp"} hrp
      .description
        Serving a daily dish of del.icio.us links to tumblr.
      %p 
        Creates a RSS feed of your 
        %a{:href => 'http://www.delicious.com'} delicious
        links that is grouped by day. Links are arranged in a list for easy insertion into a blog.
      %h2 Usage
      %p
        http://deli.heroku.com/[delicious_username]
        %br
        Example:
        %a{:href => 'http://deli.heroku.com/popular'} http://deli.heroku.com/popular
      %h2 Warning
      %p This is really buggy. I'm not kidding. This might even be considered broken.
      %h2 License
      %p The MIT License.
      %h2 Contact
      %p 
        Hiten Parmar (
        %a{:href=>'http://github.com/hrp'} hrp
        )
      %h2 Download
      %p
        You can download this project in either
        %a{:href => "http://github.com/hrp/deli-sandwich/zipball/master"} zip
        or
        %a{:href => "http://github.com/hrp/deli-sandwich/tarball/master"} tar
        formats.
      %p
        You can also clone the project with
        %a{:href => "http://git-scm.com"} Git
        by running:
      %pre $ git clone git://github.com/hrp/deli-sandwich
      .footer
        get the source code on GitHub :
        %a{:href => "http://github.com/hrp/deli-sandwich"} hrp/deli-sandwich
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-58268-4");
      pageTracker._trackPageview();
      } catch(err) {}